Sort by:
<select ng-model="orderProp">
    <option value="suit">Suit</option>
    <option value="numOrd">Number</option>
</select>
Number search: <input type="text" ng-model="searchTerm.card.number">
Suit search: <input type="text" ng-model="searchTerm.card.suit"><br />
<table>
    <tr><th><th><th>Number</th><th>Suit</th></tr>
    <tr ng-repeat="card in cards | orderBy:orderProp |  filter:searchTerm.card ">
        <td><a href="#/home/number/{{card.number}}/suit/{{card.suit}}">View</a></td>
        <td>
            |
            <a href="#/delete/number/{{card.number}}/suit/{{card.suit}}">Delete</a>
        </td>
        <td>{{card.number}}</td>
        <td>{{card.suit}}</td>
    </tr>
</table>
<br />
