<!doctype html>
<html>
<head>
    <title>Check boxes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
        var formSample = angular.module('formSample', []);
        formSample.controller('ExampleController', ['$scope', function ($scope) {
            $scope.chk1 = true;
            $scope.chk2 = 'Hello';

            $scope.update = function () {
                alert('hi');
            }
        }]);
    </script>
</head>
<body ng-app="formSample">
    <form name="myForm" ng-controller="ExampleController">
        Value1: <input type="checkbox" ng-model="chk1" ng-change="update()"> <br />
        Value2: <input type="checkbox" ng-model="chk2"
                       ng-true-value="'Hello'" ng-false-value="'Good-bye'"> <br />
        <p>chk1 = <label ng-bind="chk1"></label> </p>
        <p>chk2 = {{chk2}}</p>
    </form>
</body>
</html>
