#logoPic {
    float: left;
    margin: 20px;
    width: 10%;
    height: 10%;
}

#logoText {
    margin-top: 40px;
    width: 30%;
    height: 30%;
}

.tableRow {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}