.rating{
  margin: 0;
  padding: 0;
  color:#a9a9a9;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}
.filled {
  color: #00ff21;
}
