<!doctype html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
        var formSample = angular.module('formSample', []);
        formSample.controller('ExampleController', ['$scope', function ($scope) {
            $scope.greeting = "Hello world!";
            $scope.sample = "Welcome to BCIT!"
        }]);
    </script>
</head>
<body ng-app="formSample" ng-controller="ExampleController">
    <input type="text" ng-model="greeting" /> <br />
    <p ng-bind="greeting"></p>
    <input type="text" ng-model="sample" /> <br />
    <h3>{{sample}}</h3>
</body>
</html>
